body{
  background-color: blue;
}

#messages{

}

.grid{
  height: 700px;
  width: 999px;
  border:1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #38A3C7;
  transform: translate(-50%, -50%);
}

.box{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 20px;
  font-family: arial;
  text-align: center;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: yellow;
}

.clicked{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 22px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: green;
}

.groupA{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 22px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: purple;
}

.groupB{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 22px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: red;
}

.groupC{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 22px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: orange;
}

.groupD{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 168px;
  width: 243px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
  font-size: 22px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  /*getting text to center vertically was a pain*/
  line-height: 160px;
  background-color: gray;
}
