body{
  background-color: white;
}

#messages{

}

.grid{
  height: 700px;
  width: 1000px;
  border:1px solid black;
  margin: 0 auto;
}

.box{
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 160px;
  width: 220px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
}